@model IEnumerable<Progetto_MVC_CORE_ENTITY.Models.Camera>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCamera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCamera.NomeTipoCamera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCamera">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCamera">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCamera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
